#contact {
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  }
  #contact h2 {
    text-align: center;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 50%;
  }
  #contact form > button {
    align-self: center;
    margin-top: 15px;
  }
  #contact form > button:hover {
    color: white;
    background-color: black;
  }